body {
  font-family: "Bodoni Moda", serif;
  background-color: #eeeeee;
}

.border {background-color: white;}

.navbar-brand {
  font-family: "Parisienne", cursive;
  font-size: 34;
}

.WT {
  font-size: 42px;
  color: rgb(200, 217, 248);
}
